# Общие зависимости
python-dotenv
loguru

# Telegram-бот
python-telegram-bot

# API-сервер
fastapi
uvicorn
sqlalchemy
psycopg2-binary

# Работа с фильмами и сериалами
# imdbpy==2023.5.31

# Рекомендательная система
numpy
pandas
scikit-learn

# Тестирование
pytest
pytest-asyncio

# Дополнительные библиотеки
requests
